# Avacado Project

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"C:\Users\humay\OneDrive\Desktop\Data Science\Data Science Project\Avacado Project\avocado.csv")
df

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18244,7,2018-02-04,1.63,17074.83,2046.96,1529.20,0.00,13498.67,13066.82,431.85,0.0,organic,2018,WestTexNewMexico
18245,8,2018-01-28,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.0,organic,2018,WestTexNewMexico
18246,9,2018-01-21,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.0,organic,2018,WestTexNewMexico
18247,10,2018-01-14,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.0,organic,2018,WestTexNewMexico
18248,11,2018-01-07,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.0,organic,2018,WestTexNewMexico

In [3]:
type(df)

pandas.core.frame.DataFrame

In [4]:
df.isnull().sum()

Unnamed: 0      0
Date            0
AveragePrice    0
Total Volume    0
4046            0
4225            0
4770            0
Total Bags      0
Small Bags      0
Large Bags      0
XLarge Bags     0
type            0
year            0
region          0
dtype: int64

In [5]:
df.dtypes

Unnamed: 0        int64
Date             object
AveragePrice    float64
Total Volume    float64
4046            float64
4225            float64
4770            float64
Total Bags      float64
Small Bags      float64
Large Bags      float64
XLarge Bags     float64
type             object
year              int64
region           object
dtype: object

In [6]:
from sklearn.preprocessing import LabelEncoder

In [7]:
le=LabelEncoder()

list1= ['Date','type','region']

for val in list1:
    df[val]=le.fit_transform(df[val].astype(str))
    
df

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,51,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,0,2015,0
1,1,50,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,0,2015,0
2,2,49,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,0,2015,0
3,3,48,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,0,2015,0
4,4,47,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,0,2015,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18244,7,161,1.63,17074.83,2046.96,1529.20,0.00,13498.67,13066.82,431.85,0.0,1,2018,53
18245,8,160,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.0,1,2018,53
18246,9,159,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.0,1,2018,53
18247,10,158,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.0,1,2018,53
18248,11,157,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.0,1,2018,53

Exploratory Data Analysis

In [8]:
import seaborn as sns
import matplotlib.pyplot as plt

In [9]:
df.describe()

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
count,18249.000000,18249.000000,18249.000000,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,18249.000000,18249.000000,18249.000000,18249.000000
mean,24.232232,83.997096,1.405978,8.506440e+05,2.930084e+05,2.951546e+05,2.283974e+04,2.396392e+05,1.821947e+05,5.433809e+04,3106.426507,0.499918,2016.147899,26.495644
std,15.481045,48.787638,0.402677,3.453545e+06,1.264989e+06,1.204120e+06,1.074641e+05,9.862424e+05,7.461785e+05,2.439660e+05,17692.894652,0.500014,0.939938,15.583788
min,0.000000,0.000000,0.440000,8.456000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,2015.000000,0.000000
25%,10.000000,42.000000,1.100000,1.083858e+04,8.540700e+02,3.008780e+03,0.000000e+00,5.088640e+03,2.849420e+03,1.274700e+02,0.000000,0.000000,2015.000000,13.000000
50%,24.000000,84.000000,1.370000,1.073768e+05,8.645300e+03,2.906102e+04,1.849900e+02,3.974383e+04,2.636282e+04,2.647710e+03,0.000000,0.000000,2016.000000,26.000000
75%,38.000000,126.000000,1.660000,4.329623e+05,1.110202e+05,1.502069e+05,6.243420e+03,1.107834e+05,8.333767e+04,2.202925e+04,132.500000,1.000000,2017.000000,40.000000
max,52.000000,168.000000,3.250000,6.250565e+07,2.274362e+07,2.047057e+07,2.546439e+06,1.937313e+07,1.338459e+07,5.719097e+06,551693.650000,1.000000,2018.000000,53.000000

In [10]:
df.skew()

Unnamed: 0       0.108334
Date             0.000117
AveragePrice     0.580303
Total Volume     9.007687
4046             8.648220
4225             8.942466
4770            10.159396
Total Bags       9.756072
Small Bags       9.540660
Large Bags       9.796455
XLarge Bags     13.139751
type             0.000329
year             0.215339
region           0.000030
dtype: float64

In [11]:
from scipy.stats import zscore

In [12]:
z=np.abs(zscore(df))
threshold = 3
np.where(z>3)

(array([  346,   359,   780, ..., 17304, 17402, 17428], dtype=int64),
 array([ 4,  4, 10, ...,  2,  2,  2], dtype=int64))

In [13]:
df_new_z = df[(z<3).all(axis=1)]
df_new_z

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,51,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,0,2015,0
1,1,50,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,0,2015,0
2,2,49,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,0,2015,0
3,3,48,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,0,2015,0
4,4,47,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,0,2015,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18244,7,161,1.63,17074.83,2046.96,1529.20,0.00,13498.67,13066.82,431.85,0.0,1,2018,53
18245,8,160,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.0,1,2018,53
18246,9,159,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.0,1,2018,53
18247,10,158,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.0,1,2018,53
18248,11,157,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.0,1,2018,53

In [14]:
import warnings
warnings.filterwarnings('ignore')

In [15]:
df=df_new_z
df.corr()['AveragePrice'].sort_values()

4046           -0.333577
Total Volume   -0.332056
Total Bags     -0.297323
Small Bags     -0.275771
Large Bags     -0.270915
4225           -0.243988
4770           -0.243465
XLarge Bags    -0.152669
Unnamed: 0     -0.126781
region         -0.003242
year            0.091704
Date            0.139899
type            0.613150
AveragePrice    1.000000
Name: AveragePrice, dtype: float64

In [16]:
df=df_new_z
df.corr()['region'].sort_values()

4770           -0.095972
XLarge Bags    -0.044338
year           -0.004417
Date           -0.004408
AveragePrice   -0.003242
Unnamed: 0     -0.001651
4225            0.011002
type            0.018409
Small Bags      0.065976
Total Volume    0.076676
Total Bags      0.085892
4046            0.119067
Large Bags      0.127635
region          1.000000
Name: region, dtype: float64

In [17]:
df.drop('region',inplace=True,axis=1)

Data Modelling, Objective is average price

In [18]:
x=df.drop("AveragePrice", axis=1)
y=df["AveragePrice"]

In [19]:
from sklearn.preprocessing import MinMaxScaler
mms=MinMaxScaler()
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')

In [20]:
for i in range(0,100):
    x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=43)
    lr.fit(x_train,y_train)
    pred_train=lr.predict(x_train)
    pred_test = lr.predict(x_test)
    print(f"At random state {i}, the training accuracy is {r2_score(y_train,pred_train)}")
    print(f"At random state {i}, the testing accuracy is {r2_score(y_test,pred_test)}")
    print("\n")

At random state 0, the training accuracy is 0.4419465140234181
At random state 0, the testing accuracy is 0.4593268299566615


At random state 1, the training accuracy is 0.4419465140234181
At random state 1, the testing accuracy is 0.4593268299566615


At random state 2, the training accuracy is 0.4419465140234181
At random state 2, the testing accuracy is 0.4593268299566615


At random state 3, the training accuracy is 0.4419465140234181
At random state 3, the testing accuracy is 0.4593268299566615


At random state 4, the training accuracy is 0.4419465140234181
At random state 4, the testing accuracy is 0.4593268299566615


At random state 5, the training accuracy is 0.4419465140234181
At random state 5, the testing accuracy is 0.4593268299566615


At random state 6, the training accuracy is 0.4419465140234181
At random state 6, the testing accuracy is 0.4593268299566615


At random state 7, the training accuracy is 0.4419465140234181
At random state 7, the testing accuracy is 0.4593268299566615


At random state 8, the training accuracy is 0.4419465140234181
At random state 8, the testing accuracy is 0.4593268299566615


At random state 9, the training accuracy is 0.4419465140234181
At random state 9, the testing accuracy is 0.4593268299566615


At random state 10, the training accuracy is 0.4419465140234181
At random state 10, the testing accuracy is 0.4593268299566615


At random state 11, the training accuracy is 0.4419465140234181
At random state 11, the testing accuracy is 0.4593268299566615


At random state 12, the training accuracy is 0.4419465140234181
At random state 12, the testing accuracy is 0.4593268299566615


At random state 13, the training accuracy is 0.4419465140234181
At random state 13, the testing accuracy is 0.4593268299566615


At random state 14, the training accuracy is 0.4419465140234181
At random state 14, the testing accuracy is 0.4593268299566615


At random state 15, the training accuracy is 0.4419465140234181
At random state 15, the testing accuracy is 0.4593268299566615


At random state 16, the training accuracy is 0.4419465140234181
At random state 16, the testing accuracy is 0.4593268299566615


At random state 17, the training accuracy is 0.4419465140234181
At random state 17, the testing accuracy is 0.4593268299566615


At random state 18, the training accuracy is 0.4419465140234181
At random state 18, the testing accuracy is 0.4593268299566615


At random state 19, the training accuracy is 0.4419465140234181
At random state 19, the testing accuracy is 0.4593268299566615


At random state 20, the training accuracy is 0.4419465140234181
At random state 20, the testing accuracy is 0.4593268299566615


At random state 21, the training accuracy is 0.4419465140234181
At random state 21, the testing accuracy is 0.4593268299566615


At random state 22, the training accuracy is 0.4419465140234181
At random state 22, the testing accuracy is 0.4593268299566615


At random state 23, the training accuracy is 0.4419465140234181
At random state 23, the testing accuracy is 0.4593268299566615


At random state 24, the training accuracy is 0.4419465140234181
At random state 24, the testing accuracy is 0.4593268299566615


At random state 25, the training accuracy is 0.4419465140234181
At random state 25, the testing accuracy is 0.4593268299566615


At random state 26, the training accuracy is 0.4419465140234181
At random state 26, the testing accuracy is 0.4593268299566615


At random state 27, the training accuracy is 0.4419465140234181
At random state 27, the testing accuracy is 0.4593268299566615


At random state 28, the training accuracy is 0.4419465140234181
At random state 28, the testing accuracy is 0.4593268299566615


At random state 29, the training accuracy is 0.4419465140234181
At random state 29, the testing accuracy is 0.4593268299566615


At random state 30, the training accuracy is 0.4419465140234181
At random state 30, the testing accuracy is 0.4593268299566615


At random state 31, the training accuracy is 0.4419465140234181
At random state 31, the testing accuracy is 0.4593268299566615


At random state 32, the training accuracy is 0.4419465140234181
At random state 32, the testing accuracy is 0.4593268299566615


At random state 33, the training accuracy is 0.4419465140234181
At random state 33, the testing accuracy is 0.4593268299566615


At random state 34, the training accuracy is 0.4419465140234181
At random state 34, the testing accuracy is 0.4593268299566615


At random state 35, the training accuracy is 0.4419465140234181
At random state 35, the testing accuracy is 0.4593268299566615


At random state 36, the training accuracy is 0.4419465140234181
At random state 36, the testing accuracy is 0.4593268299566615


At random state 37, the training accuracy is 0.4419465140234181
At random state 37, the testing accuracy is 0.4593268299566615


At random state 38, the training accuracy is 0.4419465140234181
At random state 38, the testing accuracy is 0.4593268299566615


At random state 39, the training accuracy is 0.4419465140234181
At random state 39, the testing accuracy is 0.4593268299566615


At random state 40, the training accuracy is 0.4419465140234181
At random state 40, the testing accuracy is 0.4593268299566615


At random state 41, the training accuracy is 0.4419465140234181
At random state 41, the testing accuracy is 0.4593268299566615


At random state 42, the training accuracy is 0.4419465140234181
At random state 42, the testing accuracy is 0.4593268299566615


At random state 43, the training accuracy is 0.4419465140234181
At random state 43, the testing accuracy is 0.4593268299566615


At random state 44, the training accuracy is 0.4419465140234181
At random state 44, the testing accuracy is 0.4593268299566615


At random state 45, the training accuracy is 0.4419465140234181
At random state 45, the testing accuracy is 0.4593268299566615


At random state 46, the training accuracy is 0.4419465140234181
At random state 46, the testing accuracy is 0.4593268299566615


At random state 47, the training accuracy is 0.4419465140234181
At random state 47, the testing accuracy is 0.4593268299566615


At random state 48, the training accuracy is 0.4419465140234181
At random state 48, the testing accuracy is 0.4593268299566615


At random state 49, the training accuracy is 0.4419465140234181
At random state 49, the testing accuracy is 0.4593268299566615


At random state 50, the training accuracy is 0.4419465140234181
At random state 50, the testing accuracy is 0.4593268299566615


At random state 51, the training accuracy is 0.4419465140234181
At random state 51, the testing accuracy is 0.4593268299566615


At random state 52, the training accuracy is 0.4419465140234181
At random state 52, the testing accuracy is 0.4593268299566615


At random state 53, the training accuracy is 0.4419465140234181
At random state 53, the testing accuracy is 0.4593268299566615


At random state 54, the training accuracy is 0.4419465140234181
At random state 54, the testing accuracy is 0.4593268299566615


At random state 55, the training accuracy is 0.4419465140234181
At random state 55, the testing accuracy is 0.4593268299566615


At random state 56, the training accuracy is 0.4419465140234181
At random state 56, the testing accuracy is 0.4593268299566615


At random state 57, the training accuracy is 0.4419465140234181
At random state 57, the testing accuracy is 0.4593268299566615


At random state 58, the training accuracy is 0.4419465140234181
At random state 58, the testing accuracy is 0.4593268299566615


At random state 59, the training accuracy is 0.4419465140234181
At random state 59, the testing accuracy is 0.4593268299566615


At random state 60, the training accuracy is 0.4419465140234181
At random state 60, the testing accuracy is 0.4593268299566615


At random state 61, the training accuracy is 0.4419465140234181
At random state 61, the testing accuracy is 0.4593268299566615


At random state 62, the training accuracy is 0.4419465140234181
At random state 62, the testing accuracy is 0.4593268299566615


At random state 63, the training accuracy is 0.4419465140234181
At random state 63, the testing accuracy is 0.4593268299566615


At random state 64, the training accuracy is 0.4419465140234181
At random state 64, the testing accuracy is 0.4593268299566615


At random state 65, the training accuracy is 0.4419465140234181
At random state 65, the testing accuracy is 0.4593268299566615


At random state 66, the training accuracy is 0.4419465140234181
At random state 66, the testing accuracy is 0.4593268299566615


At random state 67, the training accuracy is 0.4419465140234181
At random state 67, the testing accuracy is 0.4593268299566615


At random state 68, the training accuracy is 0.4419465140234181
At random state 68, the testing accuracy is 0.4593268299566615


At random state 69, the training accuracy is 0.4419465140234181
At random state 69, the testing accuracy is 0.4593268299566615


At random state 70, the training accuracy is 0.4419465140234181
At random state 70, the testing accuracy is 0.4593268299566615


At random state 71, the training accuracy is 0.4419465140234181
At random state 71, the testing accuracy is 0.4593268299566615


At random state 72, the training accuracy is 0.4419465140234181
At random state 72, the testing accuracy is 0.4593268299566615


At random state 73, the training accuracy is 0.4419465140234181
At random state 73, the testing accuracy is 0.4593268299566615


At random state 74, the training accuracy is 0.4419465140234181
At random state 74, the testing accuracy is 0.4593268299566615


At random state 75, the training accuracy is 0.4419465140234181
At random state 75, the testing accuracy is 0.4593268299566615


At random state 76, the training accuracy is 0.4419465140234181
At random state 76, the testing accuracy is 0.4593268299566615


At random state 77, the training accuracy is 0.4419465140234181
At random state 77, the testing accuracy is 0.4593268299566615


At random state 78, the training accuracy is 0.4419465140234181
At random state 78, the testing accuracy is 0.4593268299566615


At random state 79, the training accuracy is 0.4419465140234181
At random state 79, the testing accuracy is 0.4593268299566615


At random state 80, the training accuracy is 0.4419465140234181
At random state 80, the testing accuracy is 0.4593268299566615


At random state 81, the training accuracy is 0.4419465140234181
At random state 81, the testing accuracy is 0.4593268299566615


At random state 82, the training accuracy is 0.4419465140234181
At random state 82, the testing accuracy is 0.4593268299566615


At random state 83, the training accuracy is 0.4419465140234181
At random state 83, the testing accuracy is 0.4593268299566615


At random state 84, the training accuracy is 0.4419465140234181
At random state 84, the testing accuracy is 0.4593268299566615


At random state 85, the training accuracy is 0.4419465140234181
At random state 85, the testing accuracy is 0.4593268299566615


At random state 86, the training accuracy is 0.4419465140234181
At random state 86, the testing accuracy is 0.4593268299566615


At random state 87, the training accuracy is 0.4419465140234181
At random state 87, the testing accuracy is 0.4593268299566615


At random state 88, the training accuracy is 0.4419465140234181
At random state 88, the testing accuracy is 0.4593268299566615


At random state 89, the training accuracy is 0.4419465140234181
At random state 89, the testing accuracy is 0.4593268299566615


At random state 90, the training accuracy is 0.4419465140234181
At random state 90, the testing accuracy is 0.4593268299566615


At random state 91, the training accuracy is 0.4419465140234181
At random state 91, the testing accuracy is 0.4593268299566615


At random state 92, the training accuracy is 0.4419465140234181
At random state 92, the testing accuracy is 0.4593268299566615


At random state 93, the training accuracy is 0.4419465140234181
At random state 93, the testing accuracy is 0.4593268299566615


At random state 94, the training accuracy is 0.4419465140234181
At random state 94, the testing accuracy is 0.4593268299566615


At random state 95, the training accuracy is 0.4419465140234181
At random state 95, the testing accuracy is 0.4593268299566615


At random state 96, the training accuracy is 0.4419465140234181
At random state 96, the testing accuracy is 0.4593268299566615


At random state 97, the training accuracy is 0.4419465140234181
At random state 97, the testing accuracy is 0.4593268299566615


At random state 98, the training accuracy is 0.4419465140234181
At random state 98, the testing accuracy is 0.4593268299566615


At random state 99, the training accuracy is 0.4419465140234181
At random state 99, the testing accuracy is 0.4593268299566615

In [ ]:
plt.figure(figsize=(8,6))
plt.scatter(x=y_test, y=pred_test, color='r')
plt.plot(y_test,y_test, color='b')
plt.xlabel('Actual average price',fontsize=14)
plt.ylabel('Predicted average price',fontsize=14)
plt.title('Linear Regression',fontsize=18)
plt.show()

In [22]:
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import Lasso

In [23]:
parameters = {'alpha':[.001, .01, .1, 1, 10], 'random_state': list(range(0,10))}
ls = Lasso()
clf= GridSearchCV(ls,parameters)
clf.fit(x_train,y_train)
print(clf.best_params_)

{'alpha': 0.001, 'random_state': 0}

In [24]:
ls=Lasso(alpha=0.001,random_state=0)
ls.fit(x_train,y_train)
ls_score_training=ls.score(x_train,y_train)
pred_ls = ls.predict(x_test)
ls_score_training*100

44.16675751664485

In [25]:
pred_ls=ls.predict(x_test)
lss=r2_score(y_test,pred_ls)
lss*100

45.91280125309275

In [26]:
cv_score = cross_val_score(ls,x,y,cv=5)
cv_mean = cv_score.mean()
cv_mean*100

8.13418532293243

Ensemble Techniques

In [ ]:
from sklearn.ensemble import RandomForestRegressor

parameters = {'criterion':['mse','mae'],'max_features':['auto','sqrt','log2']}
rf = RandomForestRegressor()
clf = GridSearchCV(rf,parameters)
clf.fit(x_train,y_train)

print(clf.best_params_)

In [ ]:
rf = RandomForestRegressor(criterion="mae",max_features="auto")
rf.fit(x_train, y_train)
rf.score(x_train,y_train)
pred_decision = rf.predict(x_test)

rfs = r2_score(y_test,pred_decision) 
print('R2 Score: ',rfs*100)

rfscore = cross_val_score(rf,x,y,cv=5)
rfc = rfscore.mean()
print('Cross Val Score: ',rfc*100)